.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(247 0 0 / 50%);
    font-weight: bold;
}
