<div id="headerid" class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGOHERE</a>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" [routerLink]="['dashboard/restaurants']">Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['dashboard/hotels']">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['dashboard/guesthouses']">Guest Houses</a>
      </li>
    </ul>
      
    <span class="nav navbar-nav ms-auto">
        <li>
          <a class="nav-link" href="#" (click)="onLogout()">LogOut</a>
        </li>
      </span>
   