<div id="create-page" class="container">
  <div class="create-row row align-items-center justify-content-md-center">



    <form [formGroup]="createform"  #createFormRef="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
        <label for="name" class="mb-2">Business Name: </label>
        <input placeholder='Business Name...' type="text" id="name" formControlName="businessname" class="form-control mb-3" />
        <div *ngIf="businessname.hasError('required') && createFormRef.submitted" class="alert alert-danger" role="alert">
          Business Name is Required
        </div>

        <label for="address" class="mb-2">Address: </label>
        <input placeholder='Address...' type="text" id="address" formControlName="address" class="form-control mb-3" />
        <div *ngIf="address.hasError('required') && createFormRef.submitted" class="alert alert-danger" role="alert">
          Address Field is Required
        </div>

        <label for="type" class="mb-2">Restaurant Type: </label>
        <input placeholder='Restaurant Name...' type="text" id="type" formControlName="type" class="form-control mb-3" />
        <div *ngIf="type.hasError('required') && createFormRef.submitted" class="alert alert-danger" role="alert">
          Restaurant Type is Required
        </div>

      </div>
      <div class="d-grid col-12 mx-auto p-0">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>


  </div>
</div>