<form #createFormRef="ngForm" class="needs-validation">

  <label for="name" class="mb-2">Name: </label>
  <input placeholder="Name..." [(ngModel)]="namez" type="text" id="name" class="form-control mb-3" name="name"
    #name="ngModel" required>
  <div *ngIf="name.invalid && name.touched" class="alert alert-danger" role="alert">
    Name Field is Required
  </div>

  <label for="description" class="mb-2">Description: </label>
  <textarea id="description" placeholder="Description..." type="text" name="description" class="form-control mb-3"
    [(ngModel)]="descriptionz" #description="ngModel" required ></textarea>
  <div *ngIf="description.invalid && description.touched" class="alert alert-danger" role="alert">
    Description Field is Required
  </div>

  <label for="logo" class="mb-2">Logo: </label>
  <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="logo" name="logo" [(ngModel)]="logoz" class="form-control mb-3" #logo="ngModel" required />
  <div *ngIf="logo.invalid && logo.touched" class="alert alert-danger" role="alert">
    Logo Field is Required
  </div>

  <div class="d-grid col-12 mx-auto p-0">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>