<div id="hotelscontainer" class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 align-content-end">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Create</button>
        </div>
    </div>



    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Movenpick</a>
            <a href="#" class="list-group-item list-group-item-action">Phonecia</a>
            <a href="#" class="list-group-item list-group-item-action">Habtour</a>
            <a href="#" class="list-group-item list-group-item-action">Comodor</a>
        </div>
    </div>
</div>