<div id="createhotelcontainer" class="container mt-5">
    <div class="login-row row align-items-center justify-content-md-center">
        <div class="col-md-8">
            <form [formGroup]="createhotelform" #creathotelformref="ngForm">
                <div class="form-group">

                    <label for="hotelname" class="mb-2">Hotel Name: </label>
                    <input placeholder="Hotel Name..." type="text" id="hotelname" formControlName="hotelname"
                        class="form-control mb-3" size="10">

                    <div *ngIf="hotelname.hasError('required') && creathotelformref.submitted"
                        class="alert alert-danger" role="alert">
                        Hotel Name Field is Required
                    </div>


                    <label for="hoteldescription" class="mb-2">Hotel Description: </label>
                    <textarea placeholder="Hotel Description..." ng-model="myTextarea" type="text" id="hoteldescription"
                        formControlName="hoteldescription" class="form-control mb-3"></textarea>


                    <div *ngIf="hoteldescription.hasError('required') && creathotelformref.submitted"
                        class="alert alert-danger" role="alert">
                        Hotel Description Field is Required
                    </div>

                    
                    <label for="hotellogo" class="mb-2">Hotel Logo: </label>
                    <input type="file" id="hotellogo" name="hotellogo" formControlName="hotellogo"
                        class="form-control mb-3">
                    <div *ngIf="hotellogo.hasError('required') && creathotelformref.submitted"
                        class="alert alert-danger" role="alert">
                        Hotel Logo Field is Required
                    </div>
                </div>

                <div class="d-grid col-12 mx-auto p-0">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>