<div id="restaurantcontainer" class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 align-content-end">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Create</button>
        </div>
    </div>



    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Napolitana</a>
            <a href="#" class="list-group-item list-group-item-action">Cafe Hamra</a>
            <a href="#" class="list-group-item list-group-item-action">You</a>
            <a href="#" class="list-group-item list-group-item-action">Starbucks</a>
        </div>
    </div>
</div>