<div id="guesthousescontainer" class="container mt-5">
    <div class="row mb-5">
        <div class="col-12 align-content-end">
            <button type="submit" class="btn btn-primary" (click)="onCreate()">Create</button>
        </div>
    </div>



    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">AUB-Guest House</a>
            <a href="#" class="list-group-item list-group-item-action">Nap Guest House</a>
            <a href="#" class="list-group-item list-group-item-action">Tonight Guest House</a>
            <a href="#" class="list-group-item list-group-item-action">Today Guest House</a>
        </div>
    </div>
</div>