<div id="register-page" class="container">
    <div class="register-row row align-items-center justify-content-md-center mt-3">
        <div class="col-md-7">
            <form [formGroup]="registerForm" #registerFormRef="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group ,">

                    <label for="firstName" class="mb-2">First Name: </label>
                    <input placeholder='First Name...' type="text" id="firstName" formControlName="firstName"
                        class="form-control mb-3" />
                    <div *ngIf="firstName.hasError('required') && registerFormRef.submitted" class="alert alert-danger"
                        role="alert">
                        First Name Field is Required
                    </div>


                    <label for="lastName" class="mb-2">Last Name: </label>
                    <input placeholder='Last Name...' type="text" id="pass" formControlName="lastName"
                        class="form-control mb-3" />
                    <div *ngIf="lastName.invalid && registerFormRef.submitted" class="alert alert-danger" role="alert">
                        Last Name Field is Required
                    </div>

                    <label for="email" class="mb-2">Email: </label>
                    <input placeholder='Email...' type="email" id="email" formControlName="email"
                        class="form-control mb-3" />


                    <ng-container
                        *ngIf="email.hasError('required') && registerFormRef.submitted;  then emailRequiredMessage; else invalidEmailMessage ">
                    </ng-container>

                    <ng-template #emailRequiredMessage>
                        <div class="alert alert-danger"
                            role="alert">
                            Email Field is Required
                        </div>
                    </ng-template>

                    <ng-template #invalidEmailMessage>
                        <div *ngIf="email.invalid && registerFormRef.submitted" class="alert alert-danger" role="alert">
                            Invalid Email
                        </div>
                    </ng-template>



                    <label for="password" class="mb-2">Password: </label>
                    <input placeholder='Password...' type="password" id="password" formControlName="password"
                        class="form-control mb-3" />
                    <div *ngIf="password.invalid && registerFormRef.submitted" class="alert alert-danger" role="alert">
                        Password Field is Required
                    </div>

                    <label for="confirmPassword" class="mb-2">Confirm Password: </label>
                    <input placeholder='Confirm Password...' type="password" id="confirmPassword"
                        formControlName="confirmPassword" class="form-control mb-3" />

                    <!-- <div *ngIf="confirmPassword.invalid && registerFormRef.submitted" class="alert alert-danger"
                        role="alert">
                        Confirm Password Field is Required
                    </div>

                    <div *ngIf="password != confirmPassword" class="alert alert-danger" role="alert">
                        Confirm Password Field do not match the password !
                    </div> -->




                    <ng-container
                        *ngIf="confirmPassword.invalid && registerFormRef.submitted;   then confirmPassReq;
                         
                        *ngIf=password != confirmPassword && registerForm.touched; 
                        then confAndPassDiff ">
                    </ng-container>

                    <ng-template #confirmPassReq>
                        <div class="alert alert-danger"
                            role="alert">
                            Confirm Password Field is Required
                        </div>
                    </ng-template>

                    <ng-template #confAndPassDiff>
                        <div class="alert alert-danger"
                            role="alert">
                            Confirm Password Field do not match the password !
                        </div>
                    </ng-template>


















                    <div class="d-grid col-12 mx-auto p-0 mb-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>