#upload-logo {
    display: none;
}

/* // Parent */
.upload-logo {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.upload-logo-btn {
    width: 30px;
    height: 30px;
    background-color: #0d6efd;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 4px 5px black;
    top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    color: white;
}

.logo-display {
    border-radius: 50%;
    width: 100%;
}